.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.scatterplot-container {
  flex-grow: 3;
  order: 1;
}

.section-title {
  font: 20px sans-serif;
  text-align: center;
}

#filter-dropdown {
  order: 2;
  width: 30%;
  align-self: center;
}

.filter-label {
  font: 15px sans-serif;
  margin: 10px 0 5px 0;
}

h1 {
  font: 40px sans-serif;
  text-align: center;
}

.ss-option {
  font: 15px sans-serif;
}

.ss-values {
  font: 15px sans-serif;
}

.ss-optgroup-label {
  font: 15px sans-serif;
}

